test/fixtures/project/plugins/.*
test/fixtures/project/cache/*
test/fixtures/project/data/test.sqlite
test/fixtures/project/data/sql

test/fixtures/project/web/sfDoctrinePlugin
test/fixtures/project/web/uploads
*.swp
base
